body {
  font-family: sans-serif, "Arial";
  margin: 0;
  padding: 0;
}

main {
}
.App {
  padding: 12px 18px;
}
.title {
}
.green-text {
  color: green;
}

.toolbar {
  position: sticky;
  top: -10px;
  background: white;
  padding: 4px 0px;
}
.nav-bar {
  border: 1px solid black;
}
.navbar-table-img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.table-modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}
.table-modal-content {
  position: relative;
  padding: 10px 14px;
  border: 1px solid grey;
  border-radius: 8px;
  width: 90%;
  height: 83%;
  overflow-x: hidden;

  background-color: white;
}

.table-box {
  overflow-x: scroll;
  overflow-y: scroll;
}
.table {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border: 1px solid #2e2e2e;
}

.cell {
  display: block;
  padding: 3px;
  border: 1px solid #2e2e2e;
  width: 100px;
  height: 25px;

  overflow-x: hidden;

  box-sizing: border-box;
}
.cell-info {
  display: block;
  padding: 3px;
  border: 1px solid #2e2e2e;
  width: 40px;
  height: 25px;

  overflow-x: hidden;

  box-sizing: border-box;
}

.buttons {
  padding: 4px;
  display: flex;
  gap: 8px;
}

.button {
  padding: 4px;
  color: #fff;
  background-color: #004d01;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-bolt {
  font-weight: 600;
}
.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}

.selected-cell-bar {
  display: flex;
  border: 1px solid grey;
  border-radius: 4px;
  margin-bottom: 10px;
  max-width: 100%;
}
.selected-cell-key {
  width: 40px;
  padding-left: 5px;
  border-right: 1px solid grey;
  font-weight: 600;
  color: grey;
}
.selected-cell-text {
  padding-left: 5px;
}

.tables-list {
  padding: 12px 8px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: white;

  max-width: 80%;
  min-width: 620px;
  margin: 0 auto;
}
.tables-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  border-radius: 5px;
}
.tables-list__item:nth-child(even) {
  background-color: #f6f6f6;
}
.tables-list__item:hover {
  background-color: lightgrey;
}
.tables-list__item-group-1 {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 12px;
}
.tables-list__item-group-2 {
  display: flex;
  align-items: center;
  gap: 18px;
}
.tables-list__table-img {
  height: 30px;
}
.tables-list__info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  border-radius: 5px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 12px;
}
.tables-list__info-item-group-1 {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 38px;
  padding-left: 20px;
}
.tables-list__info-item-group-2 {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 156px;
  padding-right: 126px;
}
.tables-list__empty-item {
  display: flex;
  align-items: center;
  justify-content: center;

  color: green;

  font-weight: bolt;
  font-size: 34px;

  padding: 24px 0;
}
